a.btn{
    margin: .5rem;

}
img{
    width: 80%;
}
.activeImgsContainer{
    display: flex;
    flex-direction: column;
}
#btnContainer{
    min-height: 20vh;
    
}

#gifStorage{
    min-height: 100vh;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#instruction{
    text-shadow: 4px 1px 5px rgba(30,13,8,0.31);
    color:teal;
}